<div class="container-grid" @fadeIn>
    <div class="container-about">
        <h1 class="subheader">{{title}}</h1>
    
        <div class="container-about-text">
            <p>Me desempeño como <strong>Desarrollador Front-End</strong> con base en <a href="https://goo.gl/maps/UKuLJg5QwrR4P1rLA" target="_blank">Pamplona, Navarra</a>, y cuento con una formación técnica en <a href="https://www.fp-informatica.es/dam/" target="_blank">Desarrollo de Aplicaciones Multiplataforma (DAM)</a>.</p>
            <p>He participado en diversos proyectos de desarrollo web, incluyendo entre otros:</p>
            <ul>
                <li><b>Migración de tecnologías:</b> Ayudé a migrar sitios web y aplicaciones a tecnologías más modernas.</li>
                <li><b>Desarrollos desde cero:</b>  Creé sitios web y aplicaciones web a medida, satisfaciendo las necesidades específicas de cada cliente.</li>
                <li><b>Implementación de APIs REST:</b>  Creé e integré APIs REST a para facilitar la comunicación entre sistemas y aplicaciones.</li>
            </ul>
        </div>
        <button (click)="openPDF()" class="url_link">Abrir CV</button>
    </div>

    <div class="grid-img">
        <img class="img-about-me" src="./assets/images/Foto Perfil.jpg" alt="Logo" />
    </div>
</div>