<header class="headerContainer">
    <div class="center-header">
        <div class="logoContainer">
            <a href="./index.html" title="Home">
                <img class="logoHeaderImage" src="../../../assets/images/Fabricio Narvaez_logo_WB_Small.png" alt="Logo" title="Fabricio Narváez logo"/>
            </a>
        </div>

        <nav class="navMenuContainer">
            <div class="menuIcon" (click)="toggleMenu()" [ngClass]="{'activated': isMenuActivated}">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
            <ul class="navMenu" [ngClass]="{'activated': isMenuActivated}">
                <li class="navMenuElement" (click)="closeMenu()">
                    <a class="navMenuLink" [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a>
                </li>
                <li class="navMenuElement" (click)="closeMenu()">
                    <a class="navMenuLink" [routerLink]="['/aboutMe']" [routerLinkActive]="['active']">Sobre mi</a>
                </li>
                <li class="navMenuElement" (click)="closeMenu()">
                    <a class="navMenuLink" [routerLink]="['/skills']" [routerLinkActive]="['active']">Habilidades</a>
                </li>
                <li class="navMenuElement" (click)="closeMenu()">
                    <a class="navMenuLink" [routerLink]="['/projects']" [routerLinkActive]="['active']">Proyectos</a>
                </li>
                <li class="navMenuElement" (click)="closeMenu()">
                    <a class="navMenuLink" [routerLink]="['/contact']" [routerLinkActive]="['active']">Contacto</a>
                </li>
            </ul>
        </nav>
    </div>
</header>