<header id="header">
    <div class="center">
        <div id="logo">
            <a href="./index.html" title="Home">
                <img src="../../../assets/images/Fabricio Narvaez_logo_WB_Small.png" alt="Logo" />
            </a>
        </div>

        <nav id="menu">
            <ul>
                <li>
                    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
                </li>
                <li>
                    <a [routerLink]="['/aboutMe']" [routerLinkActive]="['active']">Sobre mi</a>
                </li>
                <li>
                    <a [routerLink]="['/skills']" [routerLinkActive]="['active']">Habilidades</a>
                </li>
                <li>
                    <a [routerLink]="['/contact']" [routerLinkActive]="['active']">Contacto</a>
                </li>
            </ul>
        </nav>
    </div>
</header>