<header id="header">
    <div class="center-header">
        <div id="logo">
            <a href="./index.html" title="Home">
                <img src="../../../assets/images/Fabricio Narvaez_logo_WB_Small.png" alt="Logo" />
            </a>
        </div>

        <nav id="menu">
            <div class="menuIcon" (click)="toggleMenu()" [ngClass]="{'activated': isMenuActivated}">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
            <ul class="navMenu" [ngClass]="{'activated': isMenuActivated}">
                <li (click)="closeMenu()">
                    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a>
                </li>
                <li (click)="closeMenu()">
                    <a [routerLink]="['/aboutMe']" [routerLinkActive]="['active']">Sobre mi</a>
                </li>
                <li (click)="closeMenu()">
                    <a [routerLink]="['/skills']" [routerLinkActive]="['active']">Habilidades</a>
                </li>
                <li (click)="closeMenu()">
                    <a [routerLink]="['/projects']" [routerLinkActive]="['active']">Proyectos</a>
                </li>
                <li (click)="closeMenu()">
                    <a [routerLink]="['/contact']" [routerLinkActive]="['active']">Contacto</a>
                </li>
            </ul>
        </nav>
    </div>
</header>