<div class="center projects-container">
    <h1 class="subheader">{{title}}</h1>
    <div class="projects-group">
        <div class="project">
            <a class="fade" href="https://www.agrupacionpaternain.es/" title="Link a página Agrupación Paternain" target="_blank">
                <img src="https://res.cloudinary.com/dzd68sxue/image/upload/v1697481810/WEBP/Portfolio/Agrupaci%C3%B3n-Paternain.webp" title="Captura web agrupacionpaternain"/>
            </a>
            <div class="project_description">
                <h3 class="project_description_title">Agrupación amigos por el deporte</h3>
                <p>Este proyecto surgió como una primera versión funcional para servir información sobre un torneo de fútbol. La web proporciona información, recibida de un API rest,  sobre clasificación, calendarios y partidos entre otros.</p>
                <div class="tecnologies">
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>Javascript</span>
                    <span>NodeJS</span>
                    <span>Express</span>
                    <span>MongoDB</span>
                    <span>Vercel</span>
                    <span>Git</span>
                </div>
            </div>
        </div>
        <div class="project">
            <a class="fade" href="https://movie-search-ombd-api-soiy.vercel.app/" title="Link a página OMDb MOVIE INFO" target="_blank">
                <img src="https://res.cloudinary.com/dzd68sxue/image/upload/v1697562396/WEBP/Portfolio/OMDb%20MOVIE%20INFO.webp" title="Captura web OMDb MOVIE INFO"/>
            </a>
            <div class="project_description">
                <h3 class="project_description_title">OMDb MOVIE INFO</h3>
                <p>Este es un proyecto simple que surgió en base a una prueba técnica en la que se pedía consumir el API de OMDB.</p>
                <div class="tecnologies">
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>Typescript</span>
                    <span>Angular</span>
                    <span>Vercel</span>
                    <span>Git</span>
                </div>
            </div>
        </div>
    </div>
</div>