.projects-container .subheader{
    text-align: center;
}

.project_description_title{
    color: var(--blueWeb);
}

.url_link{
    text-decoration: underline;
    text-decoration-color: var(--blueWeb);
}

.projects-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 0 auto;
}

.project{
    padding: 20px;
    border: 1px solid var(--blueWeb);
    border-radius: 10px;
}

.project img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.tecnologies{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.tecnologies li{
    list-style: none;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
    background-color: rgba(0, 173, 228, 0.4);
}

@media (max-width: 1350px) {
    .projects-group{
        width: 100%;
    }

    .tecnologies{
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    .projects-group{
        grid-template-columns: 1fr;
        gap: 30px;
    }
}