<div class="projects-container">
    <h1 class="subheader">Proyectos</h1>
    <div class="projects-group" @fadeIn>
        <div class="project">
            <a class="fade" href="https://iapamplona.es/"  title="Link a página IA Pamplona" target="_blank">
                <img src="assets/images/IAPamplona.webp" title="Captura OMDb MOVIE INFO"/>
            </a>
            <div class="project_description">
                <h3 class="project_description_title">IA Pamplona</h3>
                <div class="links">
                    <a class="url_link" href="https://iapamplona.es/"  title="Link a página OMDb MOVIE INFO" target="_blank">Sitio Web</a>
                    <!-- <a class="url_link" href="https://github.com/FabricioNarvaez/MovieSearch_OMBD_API"  title="Link a página OMDb MOVIE INFO" target="_blank">GitHub</a> -->
                </div>
                <p>Proyecto para la página oficial de la consultora "IA Pamplona", dedicada a ofrecer diferentes servicios con soluciones que incorporan Inteligencia Artificial.</p>
                <p>Se buscaba una solución simple que muestre los diferentes servicios que se ofrecen.</p>
                <ul class="tecnologies">
                    <li>Vue3</li>
                    <li>Vuex</li>
                    <li>NuxtJS</li>
                    <li>Vercel</li>
                    <li>Git</li>
                </ul>
            </div>
        </div>
        <div class="project">
            <a class="fade" href="https://amigosporeldeporte.es/"  title="Link a página Agrupación Paternáin" target="_blank">
                <img src="assets/images/AAPD.webp"  title="Agrupación Amigos por el Deporte"/>
            </a>
            <div class="project_description">
                <h3 class="project_description_title">Agrupación amigos por el deporte</h3>
                <div class="links">
                    <a class="url_link" href="https://amigosporeldeporte.es/"  title="Link a página Agrupación Paternáin" target="_blank">Sitio Web</a>
                    <a class="url_link" href="https://github.com/FabricioNarvaez/paternain/tree/vercelMain"  title="Link a repositorio Agrupación Paternáin" target="_blank">GitHub</a>
                </div>
                <p>Este proyecto surgió como una primera versión funcional para servir información sobre un torneo de fútbol. La web proporciona información, recibida de un API rest,  sobre clasificación, calendarios y partidos entre otros.</p>
                <ul class="tecnologies">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                    <li>NodeJS</li>
                    <li>Express</li>
                    <li>MongoDB</li>
                    <li>Vercel</li>
                    <li>Git</li>
                </ul>
            </div>
        </div>
        <div class="project">
            <a class="fade" href="https://barrestauranteholy.es/"  title="Link a página Bar Restaurante Holy" target="_blank">
                <img src="assets/images/BarHoly.webp" title="Captura Bar Restaurante Holy"/>
            </a>
            <div class="project_description">
                <h3 class="project_description_title">Bar Restaurante Holy</h3>
                <div class="links">
                    <a class="url_link" href="https://barrestauranteholy.es/"  title="Link a página Bar Restaurante Holy" target="_blank">Sitio Web</a>
                    <a class="url_link" href="https://github.com/FabricioNarvaez/barHoly"  title="Link a repositorio Bar Restaurante Holy" target="_blank">GitHub</a>
                </div>
                <p>Página web para un bar restaurante en Pamplona. En la página se muestra información de servicios, contacto y diferentes información de menú, renderizado desde el lado del servidor (SSR).</p>
                <ul class="tecnologies">
                    <li>NuxtJs</li>
                    <li>Vue</li>
                    <li>CSS</li>
                    <li>Vercel</li>
                    <li>Git</li>
                </ul>
            </div>
        </div>
    </div>
</div>