<div class="projects-container">
    <h1 class="subheader">Proyectos</h1>
    <div class="projects-group">
        <div class="project">
            <a class="fade" href="https://www.agrupacionpaternain.es/"  title="Link a página Agrupación Paternain" target="_blank">
                <img src="https://res.cloudinary.com/dzd68sxue/image/upload/v1697481810/WEBP/Portfolio/Agrupaci%C3%B3n-Paternain.webp"  title="Captura agrupacionpaternain"/>
            </a>
            <div class="project_description">
                <h3 class="project_description_title">Agrupación amigos por el deporte</h3>
                <a class="url_link" href="https://www.agrupacionpaternain.es/"  title="Link a página Agrupación Paternain" target="_blank">www.agrupacionpaternain.es</a>
                <p>Este proyecto surgió como una primera versión funcional para servir información sobre un torneo de fútbol. La web proporciona información, recibida de un API rest,  sobre clasificación, calendarios y partidos entre otros.</p>
                <ul class="tecnologies">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                    <li>NodeJS</li>
                    <li>Express</li>
                    <li>MongoDB</li>
                    <li>Vercel</li>
                    <li>Git</li>
                </ul>
            </div>
        </div>
        <div class="project">
            <a class="fade" href="https://movie-search-ombd-api-soiy.vercel.app/"  title="Link a página OMDb MOVIE INFO" target="_blank">
                <img src="https://res.cloudinary.com/dzd68sxue/image/upload/v1697562396/WEBP/Portfolio/OMDb%20MOVIE%20INFO.webp" title="Captura OMDb MOVIE INFO"/>
            </a>
            <div class="project_description">
                <h3 class="project_description_title">OMDb MOVIE INFO</h3>
                <a class="url_link" href="https://movie-search-ombd-api-soiy.vercel.app/"  title="Link a página OMDb MOVIE INFO" target="_blank">movie-search-ombd-api-soiy.vercel.app</a>
                <p>Este es un proyecto simple que surgió en base a una prueba técnica en la que se pedía consumir el API de OMDB.</p>
                <ul class="tecnologies">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Typescript</li>
                    <li>Angular</li>
                    <li>Vercel</li>
                    <li>Git</li>
                </ul>
            </div>
        </div>
    </div>
</div>