<div class="center container-grid">
    <div class="container-skills">
        <h1 class="subheader">{{title}}</h1>

        <div class="skills-grid">
            <div class="front-end">
                <div class="skills-subtitle">
                    <img src="https://img.icons8.com/fluency/50/000000/web.png" alt="Front End"/>
                    <h2 class="subheader-small">FrontEnd</h2>
                </div>
                <ul class="skills_list">
                    <li>HTML5</li>
                    <li>CSS3 | Grid | Flexbox</li>
                    <li>Jest</li>
                    <li>JavaScript</li>
                    <li>Responsive Web Desing</li>
                    <li>Accesibilidad y Usabilidad</li>
                    <li>Frameworks: AngularJS, ReactJS, VueJS, MeteorJS</li>
                </ul>
            </div>
    
            <div class="back-end">
                <div class="skills-subtitle">
                    <img src="https://img.icons8.com/fluency/48/000000/server.png" alt="Back End"/>
                    <h2 class="subheader-small">BackEnd</h2>
                </div>
                <ul class="skills_list">
                    <li>MySQL</li>
                    <li>MongoDB</li>
                    <li>API rest</li>
                    <li>Back End scripting</li>
                    <li>NodeJS</li>
                </ul>
            </div>
    
            <div class="software">
                <div class="skills-subtitle">
                    <img src="https://img.icons8.com/fluency/48/null/application-window.png" alt="Back End"/>
                    <h2 class="subheader-small">Software</h2>
                </div>
                <ul>
                    <li>Visual Studio Code</li>
                    <li>Git | Git Extensions | Git Lab | Git Hub </li>
                    <li>Bitbucket</li>
                    <li>Jira</li>
                    <li>Responsively App</li>
                    <li>Terminal</li>
                    <li>Postman</li>
                    <li>MongoDB Compass</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="grid-imges">
        <img src="/assets/images/Skills/HTML5.png" alt="HTML5"/>
        <img src="/assets/images/Skills/CSS3.png" alt="CSS3" />
        <img src="/assets/images/Skills/JavaScript.png" alt="JavaScript" />
        <img src="/assets/images/Skills/Angular.png" alt="Angular" />
        <img src="/assets/images/Skills/NodeJS.png" alt="NodeJS" />
        <img src="/assets/images/Skills/MySQL.png" alt="MySQL"/>
        <!--<img src="/assets/images/Skills/MongoDB.png" alt="MongoDB"/>-->
    </div>
    
</div>